# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# Backend specific
backend/dist/
backend/*.log
backend/coverage/
backend/test-report.xml

# Prisma
/backend/generated/prisma

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
